html,
body,
.root,
.chat {
  height: 100%;
  width: 100%;
}

body {
  font: 15px;
  margin: 0px;
}

/* 日本語用フォント */
body {
  font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

/* 英数字用フォント */
body {
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans",
    "Helvetica Neue", Arial, sans-serif;
}

/* 改行用 */
.line-break {
  white-space: pre-wrap;
}

.Message {
  margin: 0px 40px 0px 20px;
}

.SendText {
  margin: 30px 40px 0px 40px;
}

.send-btn,
.clr-btn,
.reset-btn {
  margin: 5px 0px 5px 10px;
}

.txtarea-send {
  width: 100%;
  box-sizing: border-box;
  font-size: 20px;
}

.msgText {
  font-weight: bold;
  margin: 5px;
}
